/* The component style is inserted here. */

h1.heading{
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 2em;
}
h2.heading{
  color: green;

}
h3.heading{
  color: orange;

}